# exclude binaries, object files and static libraries
Release/

# exclude personal IDE project files
.qtcreator.*
*.creator.*
*.qtcreator.*

CMakeLists.txt.user

# exclude autosave files from qtcreator
*.autosave

# exclude submission folder, which holds the agent entry
submission/
