# exclude binaries, object files and static libraries
bin/
lib/
build/

# exclude personal IDE project files
.qtcreator.*
.creator.*
*.qtcreator.*

# exclude submission folder, which holds the agent entry
submission/
