# exclude binaries and object files
bin/
build/

# exclude personal IDE project files
.qtcreator.*
.creator.*
*.qtcreator.*

# remove pom files :fail:
pom.files
pom.creator
pom.creator.user
pom.config
pom.includes

# exclude submission folder, which holds the agent entry
submission/
